@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gellato";
    src: url("../fonts/Gellato Rush.otf");
}

header {
    font-family: "Gellato", georgia, serif;
}